* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}

#container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d6da;
}

.modal-button {
    border: none;
    cursor: pointer;
    padding: 0 4px;
}

.title {
    color: #1a1a1b;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.125rem;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid #d3d6da;
    min-width: 60px;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

#button-container button {
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    border: 0;
    padding: 0;
    height: 50px;
    cursor: pointer;
    background-color: #d3d6da;
    color: #1a1a1b;
    flex-grow: 0.1;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*
Modal
 */

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff; /* Fallback color */
    max-width: 500px;
    flex-direction: column;
}

#modal header {
    border-bottom: none;
}

/* Modal Content/Box */
#modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /*width: 80%; !* Could be more or less, depending on screen size *!*/
}

.instructions {
    font-size: 16px;
    color: #1a1a1b;
}

.instructions a {
    color: #1a1a1b;
}

.instructions p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* The Close Button */
.close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/*
Animations
 */

.square[data-animation="bounce"] {
    animation-name: Bounce;
    animation-duration: 1000ms;
}

@keyframes Bounce {
    0%, 20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

.square[data-animation="shake"] {
    animation-name: Shake;
    animation-duration: 1000ms;
}

@keyframes Shake {
    10%,
    90% {
        transform: translateX(-1px);
    }

    20%,
    80% {
        transform: translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px);
    }

    40%,
    60% {
        transform: translateX(4px);
    }
}

.square[data-animation='flip-in'] {
    animation-name: FlipIn;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

@keyframes FlipIn {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-90deg);
    }
}

.square[data-animation='flip-out'] {
    animation-name: FlipOut;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

@keyframes FlipOut {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0);
    }
}